@import url('https://fonts.googleapis.com/css2?family=Spectral+Lato:wght@100..800&display=swap');

.logo {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    color: #c0c0c0;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    font-style: italic;
    position: fixed;
    user-select: none;
    z-index: 100;    
}

.logo div {
    width: max-content;
}

.logo span {
    position: relative;
    display: inline-block;
    transition-duration: 300ms;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    transition-delay: 100ms;
    font-family: 'SUSE', system-ui;
}